@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background-color: #444e5d !important;
}

h3 {
  text-align: center;
  color: #ffffff;
}

button {
  text-align: center;
}


/* NAV BAR */

.nav-item {
  text-align: center;
}
.pagination {
  margin-top: 150px;
}

.page-link {
  background-color: #4e5765 !important;
  text-decoration: none;
  color: #ffffff !important;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #dddddd;
}

th {
  color: #212529;
}

.nav-link {
  color: #ffffff !important;
}

.navbar-brand {
  color: #ffffff;
}

.dropdown {
  text-decoration: none;
  color: black;
}